{{#each posts as |post| }}
    <a href="/dashboard/updatepost/{{post.id}}" role="button" class="btn btn-secondary btn-lg d-block">
      <div class="card-header d-flex justify-content-between">
        <div>{{post.title}}</div>
        <div>{{post.date}}</div>
      </div>
    </a>
{{/each}}
<a class="btn btn-primary" role="button" href="/dashboard/createpost">New Post</a></button>
