<p class="fs-1">Login</p>

<form class="form login-form">
    <div class="form-group mb-3">
        <label for="username-login" class="form-label">Username</label>
        <input type="text" class="form-control" id="username-login" placeholder="albertosuarez">
    </div>
    <div class="form-group mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login" placeholder="Type your password">
    </div>
    <div class="form-group mb-3">
        <button class="btn btn-primary btn-lg d-flex w-100 justify-content-center" type="submit">Login</button>
    </div>
    <nav><a href="/signup">Sign up instead</a></nav>
</form>

<script src="/js/login.js"></script>